.home-page > .title-wrapper > .jwy2ykr64r-editor_css {
  font-size: 45px;
}

@media screen and (max-width: 767px) {
  .home-page > .title-wrapper > .jwy2ykr64r-editor_css {
    font-size: 42px;
  }
}
.home-page-wrapper > .ant-row > .jwy3jw5c12-editor_css {
  text-align: left;
}
.templates-wrapper > .home-page-wrapper > .jwy3ndqqi3-editor_css {
  background-color: #fbfbfb;
}
.header1 > .home-page > .jwy30ykeme-editor_css {
  //background-color: #fbfbfb;
}
