<!DOCTYPE html>
<html>
  <head>
    <title>Универсальный сервис уведомлений</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="УСУ - Универсальный сервис уведомлений" />
    <meta property="og:url" content="https://uns.headmade.pro" />
    <meta property="og:image" content="https://цифровойпрорыв.рф/assets/176fe47dfb13d80fd2858944a93691a0/images/expert.jpg" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
